#carousel {
    margin-bottom: 100px;
}

.carousel-control-prev {
    left: 15%   ; 
}
.carousel-control-next {
    right: 15%; 
}

img {
    border-radius: 4px;
    width: 350px; 
    height: 350px;
}
