.Card {
    width:75%; 
    background-color: rgb(50,50,50);
    border-radius: 25px;
}

.CardImage {
    height: 100%;
}

.Title {
    color: #fff; 
    justify-self: center;
    margin: 15px;
}

.Description {

    /* width:25%; */
    margin: 15px;
    justify-self: center;
}

