.Card {
    width:75%; 
    background-color: rgb(50,50,50);
    /* margin: 20px; */
}

.CardImage {
    height: 100%;
}

.CardTitle {
    color: rgb(255,255,255);
}

.CardText {
    font-size: 15px;
    width: 100%;
    margin-left: 0%;
}

