.Bar {
   display:flex;
   justify-content: center;
   align-content: center;
   gap: 150px;

   padding-top: 5px; 

   width:50%;
   margin: 20px;
}

.Like-Button {
   font-size: 150%;
   background-color: transparent;
   border-color: transparent;
}

.Comment {
   font-family: var(--dFont);
   height:50%;
   background-color: transparent; 
   border-style: none;
   font-size: 150%;
}

p {
   color: rgb(255,255,255);
   font-size: 150%;
   background-color: transparent;
   border-color: transparent;
}
