
:root {
    --dFont:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --navy: rgb(0,0,127); 
    --ink: rgb(0,0,3);
    --line: rgb(50,50,50); 
    --background: linear-gradient(180deg, var(--navy), var(--ink));
}

h1 {
    color: rgb(255,255,255); 
    font-size: 150px;
    text-align: center;
    font-family: var(--dFont);
}

.cardContainer {
    display: flex; 
    justify-content: center;
    gap: 30px;

    border-width: 2px;
    border-style: solid;
}

#root {
    height: 100%;
}

#biography {
    display: flex;
    justify-self: center;
    width: 75%; 
    margin: 100px;
}

#jaxon-pic {
    justify-self: end;
    border-radius: 14%;
    margin-left: 20px;
}

#description {
    line-height: 150%;
    text-align: left;
    align-self: top;
    color: rgb(255,255,255); 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#description span {
    font-size: 25px;
}

#clubs {
    display: flex; 
    justify-content: flex-start;
    /* gap: 5px;  */
}

body {
    background-repeat: no-repeat;
    background-image: linear-gradient(180deg, rgb(0,0,127), rgb(0,0,3));
}