img {
    width: 350px; 
    height: 350px;
}

h1 {
    color: rgb(255,255,255); 
    font-size: 150px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#root {
    height: 100%;
}



body {
    background-repeat: no-repeat;
    background-image: linear-gradient(180deg, rgb(0,0,127), rgb(0,0,3));
}